/*spec*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Merriweather', serif;
	background: #111417;
	color: #575859;
}

a, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-weight: 300;
}

ul, li {
	list-style-type: none;
}

.header {
	position: absolute;
	z-index: 999;
}

.container {
	max-width: 95%;
}

.logo {
	font-family: 'Raleway', sans-serif;
	color: #000;
	padding: 18px 24px;
	background: #fdc501;
	font-weight: 900;
	letter-spacing: 3px;
	font-size: 20px;
	margin-right: 25px;
	margin-left: 40px;
	height: 65px;
}

.logo:hover {
	text-decoration: none;
	color: #000;

}

.menu {
	font-size: 15px;
	margin-top: 21px;

}

.menu a {
	text-decoration: none;
	margin: 0 17px;
	font-size: 13px;
	letter-spacing: .09em
}

.menu a:hover {
	color: #fdc501;
}

.social {
	display: flex;
	margin-top: 15px;
}

.social::before {
	content: "";
	border-left: 1px solid #242424;
	margin: 0 30px 0 40px;
	height: 63px;
	margin-top: -15px;
}

.social a {
	margin: 0 15px;
	font-size: 20px;
}

.social a:hover {
	color: #fdc501;
}

.home {
	padding-left: 70px;
	background: url(../img/hero-bg.jpg) no-repeat center / cover;
}

h1 {
	font-size: 47px;
	margin-top: 185px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	line-height: 1.35;
	letter-spacing: -.002em;
}

.home span {
	display: inline-block;
	border-bottom: 1px solid #5a5b5c;
}

h1::after {
	display: block;
	content: "";
	width: 100px;
	height: 3px;
	background: #fcc400;
	margin: 20px 0;
}

.home p {
	color: rgba(255, 255, 255, .7);
	font-size: 18px;
	width: 75%;
	line-height: 1.9;
	letter-spacing: .01em;
}

.slider {
	margin-bottom: 70px;
}

.slider__control {
	display: flex;
	margin-bottom: 95px;
}

.slider__control a {
	display: block;
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 6px;
}

.slider__control .active__control {
	background: #fdc501;
	cursor: default;
}

.more a {
	background: #e64e04;
	display: flex;
	width: 200px;
	height: 54px;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	border-radius: 4px;
	font-size: 13px;
	color: #fff;
	letter-spacing: .1em;
	text-decoration: none;
}

.more a:hover {
	background: #fdc501;
	color: #000;
	transition: all .4s ease-in-out
}

.more i {
	padding-left: 5px;

}

.title {
	width: 90%;
}

.title h3 {
	letter-spacing: .17em;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin-top: 140px;
}

.title h3::after {
	background: #283436;
	width: 100px;
	height: 3px;
	display: block;
	content: "";
	margin: 35px 0 25px 0;
}

.title p {
	font-size: 20px;
	color: rgba(255, 255, 255, .2);
	line-height: 1.9;
	margin-bottom: 60px;
}

.title:hover h3::after {
	width: 120px;
	background: #fdc501;
	transition: all .5s ease-in-out
}

#portfolio .col-lg-3 {
	padding: 0;
}


img {
	width: 100%;
	padding: 0;
}

h4 {
	color: #fdc501;
	font-size: 18px;
	margin-bottom: 20px;
	padding-top: 25px;
}

.services {
	background: #12151B;
}

.services__list {
	padding-bottom: 100px;
}

.members__item,
.services__item p {
	line-height: 1.9;
	letter-spacing: .018em;
}

.services__item:hover {
	background: rgba(0, 0, 0, .1);
	transition: all .4s ease
}

.members__item span {
	font-size: 13px;
	color: #fff;
	display: block;
	margin-bottom: 15px;
	margin-top: -15px;
}

.members ul {
	display: flex;
	margin-bottom: 25px;
}

.members a {
	margin: 0 20px 0 0;
}

.members a:hover {
	color: #fdc501;
}

.reviews {
	background: #e4b101;
	text-align: center;
	margin-top: 40px;

}

.reviews p {
	font-size: 28px;
	color: #fff;
	width: 870px;
	padding-top: 100px;
	margin: 10px auto;
	line-height: 2;

}

.reviews ul img {
	width: 75px;
	border: 5px solid #fff;
	border-radius: 50%;
}

.author {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

.author span {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #695100
}

.slider__control .author__active__control {
	background: #000;
	cursor: default;

}

.reviews .slider__control {
	margin-left: 49%;
}

.reviews .slider {
	margin-bottom: 40px;
}

.contact {
	background: #12151b;
}

input {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	display: block;
	border-radius: 3px;
	padding: 18px 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	width: 100%;
	font-weight: bold;
	color: #a3a4a6;
}

#message {
	padding: 20px 0 200px 20px;
}

.sumbit a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 100%;
	padding: 18px 0;
	background: #fdc501;
	letter-spacing: 2px;
	border-radius: 3px;
	color: #000;
	text-align: center;
	margin-bottom: 130px;
}

.sumbit a:hover {
	background: #e64e04;
	color: #fff;
	transition: all .4s ease-in-out
}

.contact__text p {
	font-size: 19px;
	letter-spacing: 2;
	line-height: 1.7;
	margin-bottom: 8px;
}

.contact .more {
	margin: 0 auto;
}

.footer {
	text-align: center;
	color: rgba(255, 255, 255, .2);
}

.social__links {
	display: flex;
	margin-top: 70px;
	justify-content: center;

}

.social__links a {
	color: rgba(255, 255, 255, .2);
	font-size: 38px;
	margin-right: 35px;
}

.social__links a:hover {
	color: #fff;
	transition: all .3s ease-in-out
}

.footer__logo {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-size: 28px;
}

.footer__logo::before {
	content: "";
	border-top: 1px solid;
	width: 400px;
	display: block;
	margin: 30px auto;

}

.info p {
	margin: 0 250px;
	line-height: 2em
}

.copyright {
	padding: 40px 0;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	
	.home {
		padding: 0;
	}
	.home .container{
		max-width: 80%
	}

	.more a {
		margin: 50px auto 0;
	}

	.contact__text {
		text-align: center;
	}

	.title,
	.title h3::after {
		text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	}
}
