@media screen and (max-width: 1919px)
  .container
    -webkit-transform: scale(.9)
    -moz-transform: scale(.9)
    -ms-transform: scale(.9)
    -o-transform: scale(.9)
    transform: scale(.9)
  .cap
    &-logo
      img
        width: 280px
  .card
    -webkit-transform: scale(.9)
    -moz-transform: scale(.9)
    -ms-transform: scale(.9)
    -o-transform: scale(.9)
    transform: scale(.9)
    margin-top: 33em
    &-text
      margin-bottom: 85px
    &-order

      &_name
        width: 530px
        height: 80px
  .stock
    img
      width: 550px
    &-text
      font-size: 44px
      margin-left: 1%
      &:first-child
        margin-bottom: 36px
      span
        &:first-child
          font-size: 58px
          &::after
            width: 485px
            margin-left: 223px
        &:last-child
          font-size: 58px
  .product
    margin-top: -130px
  .whyWe
    margin-top: 0
    padding-bottom: 300px
  .cosmetic
    margin-top: -300px
  .videoLife
    margin-top: 0
  .work
    margin-bottom: 100px
  .reviews
    margin-top: 0
  .question
    padding-bottom: 103px

@media screen and (min-width: 1440px) and (max-width: 1599px)
  .container
    -webkit-transform: scale(.8)
    -moz-transform: scale(.8)
    -ms-transform: scale(.8)
    -o-transform: scale(.8)
    transform: scale(.8)
  .card
    -webkit-transform: scale(.8)
    -moz-transform: scale(.8)
    -ms-transform: scale(.8)
    -o-transform: scale(.8)
    transform: scale(.8)
    margin-top: 23em
    &-text
      width: 715px
      font-size: 4.5rem
      margin-bottom: 85px
    &-order
      margin-left: 158px
      &_name
        width: 530px
        height: 80px
  .services
    &-item
      -webkit-transform: scale(.9)
      -moz-transform: scale(.9)
      -ms-transform: scale(.9)
      -o-transform: scale(.9)
      transform: scale(.9)
  .stock
    padding-bottom: 25%
    img
      width: 500px
    &-text
      font-size: 40px
      span
        &:first-child
          font-size: 56px
          &::after
            width: 450px
            margin-left: 200px
        &:last-child
          font-size: 56px
  .product
    margin-top: -250px
  .whyWe
    margin-top: -200px
    .container
      display: flex
      flex-direction: column
  .cosmetic
    margin-top: -320px
  .videoLife
    margin-top: -80px
  .reviews
    margin-top: -130px
  .work
    margin-bottom: 10px
    margin-top: -20px
  .question
    padding: 65px 0

@media screen and (min-width: 1280px) and (max-width: 1439px)
  .cap
    &-logo
      img
        width: 255px
      &-sale
        font-size: 30px
      &-menu
        font-size: 20px
    &-contacts
      font-size: 21px
      &-time
        font-size: 14px
  .card
    margin-top: 27em
    &-text
      width: 640px
      font-size: 4rem
      margin-bottom: 35px
      margin-left: 60px
    &-order
      margin-left: 135px
      &_name
        width: 495px
        height: 60px
        font-size: 22px
        margin-bottom: 16px


      &_btn
        margin-left: 42px
  .services
    &-item
      -webkit-transform: scale(.9)
      -moz-transform: scale(.9)
      -ms-transform: scale(.9)
      -o-transform: scale(.9)
      transform: scale(.9)
  .stock
    padding-bottom: 24%
    img
      width: 480px
      margin: -35px 0 0 -50px
    &-text
      font-size: 38px
      margin-left: 13%
      span
        &:first-child
          font-size: 54px
          &::after
            width: 425px
            margin-left: 195px
            height: 4px
        &:last-child
          font-size: 54px
  .objects
    &-item
      width: 1200px
      &-third
        padding-left: 50px
  .whyWe
    margin-top: -80px


@media screen and (min-width: 1024px) and (max-width: 1279px)
  header
    height: 92px
  .title
    &-text
      font-size: 48px
  .cap
    height: 92px
    &-logo
      img
        width: 180px
    &-sale
      font-size: 26px
    &-menu
      font-size: 18px
    &-contacts
      font-size: 16px
      &-time
        font-size: 12px
  .card
    margin-top: 22em
    &-text
      width: 530px
      font-size: 3.3rem
      margin-bottom: 30px
      margin-left: 20px
    &-order
      margin-left: 126px
      &_name
        width: 360px
        height: 50px
        font-size: 24px
      &_btn
        padding: 22px 45px
        font-size: 18px
        line-height: 86px
        margin-left: 12px
  .services
    &-item
      img
        width: 65px
      &_text
        font-size: 22px
  .stock
    img
      width: 300px
      margin: -35px 0 0 -50px
    &-text
      width: 700px
      font-size: 33px
      line-height: 36px
      margin-left: 14%
      &:first-child
        margin-bottom: 20px
        margin-top: 5px
      span
        &:first-child
          font-size: 35px
          &::after
            content: ''
            width: 365px
            height: 4px
            margin-left: 165px
            margin-top: -4px
        &:last-child
          font-size: 35px
  .whyWe
    padding-bottom: 400px
    &-second-title
      margin-top: 40px
  .presents
    -webkit-transform: scale(.8)
    -moz-transform: scale(.8)
    -ms-transform: scale(.8)
    -o-transform: scale(.8)
    transform: scale(.8)


  .objects
    -webkit-transform: scale(.8)
    -moz-transform: scale(.8)
    -ms-transform: scale(.8)
    -o-transform: scale(.8)
    transform: scale(.8)
    margin-top: -130px
    &-text
      font-size: 38px
    &-item
      width: 1100px
      &-third
        padding-left: 0
  .fact
    font-size: 36px
    -webkit-transform: scale(.9)
    -moz-transform: scale(.9)
    -ms-transform: scale(.9)
    -o-transform: scale(.9)
    transform: scale(.9)
    margin-top: -100px

  .cosmetic
    margin-top: -250px
    .title
      background: url("../img/bg-kosmetic.jpg") no-repeat 130px 40px
      padding: 100px 0 60px 0
      -webkit-background-size: 295px
      background-size: 295px
      &-text
        width: 555px
  .work
    img
      width: 950px
    &-step
      font-size: 26px
  .delivery
    padding-bottom: 50px
    .row
      margin-top: -80px
    &-truck
      -webkit-transform: scale(.7)
      -moz-transform: scale(.7)
      -ms-transform: scale(.7)
      -o-transform: scale(.7)
      transform: scale(.7)
    &-text
      -webkit-transform: scale(.7)
      -moz-transform: scale(.7)
      -ms-transform: scale(.7)
      -o-transform: scale(.7)
      transform: scale(.7)
@media screen and (min-width: 768px) and (max-width: 1023px)
  header
    height: 140px
  .cap
    &-hidden
      display: none
    &-active
      display: flex
      justify-content: space-evenly
      flex-direction: column
      margin-top: 15px
  .title
    &-text
      font-size: 48px
  .home
    &-down
      &-row
        margin-left: 80px
  .card
    margin-top: 18em
    &-text
      width: 650px
      font-size: 3.4rem
      margin-bottom: 35px
      margin-left: 120px
    &-order
      margin-left: 266px
      &_name
        width: 390px
        height: 50px
        font-size: 20px
      &_btn
        padding: 20px 28px
        font-size: 18px
        line-height: 60px
  .services-item
    margin-bottom: 50px
  .stock
    img
      width: 300px
      margin: -35px 0 0 0
    &-text
      font-size: 28px
      line-height: 37px
      &:first-child
        margin-bottom: 20px
      span
        &:first-child
          font-size: 36px
          &::after
            width: 315px
            height: 3px
            margin-left: 140px
        &:last-child
          font-size: 36px
  .product
    margin-top: -250px
  .toggle
    &-btn
      font-size: 14px
      margin: 79px 0 0
  .whyWe
    margin-top: -150px
  .presents
    img
      width: 170px
    &-text
      width: 280px
      font-size: 20px
  .objects
    background: url(../img/why_honey.png) no-repeat 55% -100% /98%, url(../img/why_flower.png) no-repeat 360px 380px /50%
    &-item
      width: 800px
      img
        width: 170px
      &:last-child
        height: 500px
        margin-top: 70px
    &-text
      width: 310px
      font-size: 28px
  .fact
    font-size: 28px
    -webkit-transform: scale(.9)
    -moz-transform: scale(.9)
    -ms-transform: scale(.9)
    -o-transform: scale(.9)
    transform: scale(.9)
  .cosmetic
    margin-top: -250px
    .title
      background: url("../img/bg-kosmetic.jpg") no-repeat 41px 50px
      -webkit-background-size: 295px
      background-size: 270px
      margin-top: -40px
      &-text
        width: 555px
  .cosmetic
    &-row
      text-align: center
  .videoLife
    margin-top: -100px
    background-size: 65%
    &-first
      width: 700px
  .work
    img
      width: 700px
    &-step
      font-size: 22px
      line-height: 26px
      letter-spacing: 0px
  .delivery
    padding-bottom: 50px
    margin-top: -80px
    &-truck
      margin: 0 auto
    &-text
      margin: 60px auto 0
  .reviews
    margin-top: -50px
    &-items
      margin-top: 70px
      &_item
        height: 370px
  .left-row
    margin-left: -50px

  .footer
    font-size: 22px
    .container
      max-width: 100%
    &-contacts
      &_span
        font-size: 12px

