@media screen and (min-width: 1440px) and (max-width: 1919px)
  .cap
    &-logo
      img
        width: 280px
  .card
    margin-top: 250px
    &-text
      width: 675px
      font-size: 42px
      margin-left: 0
      margin-bottom: 90px
    &-order
      margin-left: 150px
      &_name
        margin-bottom: 16px
        width: 440px
        height: 72px
        font-size: 25px
      &_btn
        font-size: 22px
        line-height: 100px
        margin-left: 21px

.services
  margin-top: 270px



