@import "fonts"
@import "const"

body, html
  margin: 0
  padding: 0
  box-sizing: border-box
  color: #fff
  font-family: "Sybilla"
  font-size: 10px

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #fff

ul, li
  list-style-type: none
  margin: 0
  padding: 0

header
  width: 100%
  height: 128px
  box-shadow: 5px 7px 58px 4px rgba(201, 174, 91, 0.41)
  background-color: #ffc002
  position: relative
.header
  &-container
    max-width: 1850px

.container
  width: 95%

.cap
  display: flex
  align-items: center
  height: 128px
  justify-content: space-between
  &-active
    display: none
  &-logo
    margin-left: 1%
  &-sale
    font-family: Sybilla-Medium
    font-size: 36px
    font-weight: bold
  &-menu
    font-size: 24px
    font-weight: bold
    display: flex
    justify-content: space-around
    li
      i
        width: 12px
        height: 11px
        color: #ff7800
        font-weight: 900
        margin-left: 12px
      &:hover
        text-decoration: underline
        i
          text-shadow: 0 0 5px rgba(245, 245, 245, 0.9)
  &-contacts
    font-size: 26px
    font-weight: 500
    text-align: right
    margin-right: 1%
    &-time
      font-size: 18px
      margin-right: -5px

.home
  background: url("../img/bg3.jpg") no-repeat
  background-size: 100vw 100%
  padding-bottom: 20%
  &-container
    max-width: 1550px
    margin: 0 auto
  &-down
    &-row
      justify-content: space-evenly
      align-items: center
  &-honey
    position: absolute
    top: 4%
    right: 1%

.card
  margin-top: 35em
  &-text
    width: 815px
    font-size: 5.1rem
    font-weight: bold
    text-align: center
    margin-left: 50px
    margin-bottom: 140px
  &-order
    margin-left: 188px
    &_name
      display: block
      margin-bottom: 21px
      box-shadow: 3px 4px 9px rgba(218, 147, 1, 0.9)
      border: none
      width: 545px
      height: 91px
      color: #888686
      font-size: 30px
      font-weight: 400
      padding-left: 5%
    &_btn
      font-family: Sybilla-Heavy
      padding: 25px 52px
      background-color: #fca802
      font-size: 24px
      font-weight: bold
      line-height: 115px
      border-radius: 40px
      margin-left: 48px
      box-shadow: inset 5px 5px 14px rgba(255,255,255,.8), inset -6px -5px 14px rgba(0,0,0,.5)
      &:hover
        transition: all .2s
        box-shadow: inset 5px 5px 14px rgba(0,0,0,.5), inset -6px -5px 14px rgba(255,255,255,.8)
      &:active
        background: lighten(#febd02, 10%)

.services
  display: flex
  align-items: center
  justify-content: space-between
  &-item
    display: flex
    align-items: center
    margin-bottom: 115px
    text-align: center
    &_text
      color: #4c2703
      font-size: 30px
      font-weight: bold
      margin-left: 13px

.stock
  background: url("../img/bg.jpg") no-repeat
  padding-top: 100px
  padding-bottom: 30%
  background-size: cover
  &-text
    font-size: 48px
    font-weight: 500
    line-height: 55px
    &:first-child
      margin-bottom: 50px
    span
      &:first-child
        font-size: 60px
        color: #f4b70d
        &::after
          content: ''
          width: 550px
          height: 5px
          background: #f4b70d
          display: block
          margin-left: 240px
          margin-top: -8px
      &:last-child
        font-size: 60px
        color: #fbb905
        font-family: Sybilla-Bold

.title
  text-align: center
  &-text
    margin: 0 auto
    width: 377px
    color: #713403
    font-family: "Sybilla-Ultra"
    font-size: 60px
    font-weight: bold
    line-height: 60px
    &::after
      display: block
      margin: 46px auto 0
      content: ''
      width: 151px
      height: 8px
      box-shadow: 3px 4px 5px rgba(192, 139, 68, 0.75)
      background-color: #febd03
    &_product
      color: #713403
      font-family: Sybilla-Bold
      font-size: 48px
      font-weight: bold
      line-height: 24px

.toggle
  display: flex
  justify-content: center
  margin-bottom: 9px
  &-btn
    color: #000000
    font-size: 22px
    font-weight: bold
    line-height: 24px
    margin: 79px 48px 0
    padding: 14px 40px
    &:hover
      cursor: pointer
  &-active
    background-color: #febd02
    border-radius: 30px
    color: #fff
    &:hover
      cursor: default
.hidden
  display: none
.product-item
  text-align: center
  color: #000
  font-size: 30px
  font-weight: bold
  height: 450px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  &_title
    line-height: 24px
    margin-top: 19px
    margin-bottom: 8px
  &_text
    width: 210px
    margin: 0 auto 16px
    &-span
      text-decoration: line-through
    span
      &:first-child
        span
          font-family: "Sybilla-Medium"
          font-weight: 500
      &:nth-child(2)
        color: #f7b850
        font-family: "Sybilla-Medium"
        font-weight: 500
  .small
    width: 160px
    &-span
      font-family: "Sybilla-Medium"
      font-weight: 500
  &_img
    width: 200px
    height: 200px
.btn
  color: #fff
  font-size: 18px
  font-weight: bold
  background: #febd02
  padding: 14px 30px
  border-radius: 30px
  box-shadow: inset 5px 5px 14px rgba(255,255,255,.8), inset -6px -5px 14px rgba(0,0,0,.5)
  &:hover
    transition: all .2s
    box-shadow: inset 5px 5px 14px rgba(0,0,0,.5), inset -6px -5px 14px rgba(255,255,255,.8)
  &:active
    background: lighten(#febd02, 10%)

.ps
  color: #f7b850
  font-size: 30px
  font-weight: bold
  line-height: 36px
  margin: 57px auto 76px
  text-align: center
.row-last
  display: flex
  justify-content: space-evenly

.whyWe
  background: url("../img/bg-why.jpg") no-repeat
  margin-top: 82px
  padding-bottom: 500px
  background-size: 100vw 100%
  &-title
    margin-top: 44px
    &-text
      color: #dd1616
      width: 650px
  &-second-title
    margin-top: 80px
    &-text
      width: 700px
      color: #fff
.presents
  display: flex
  align-items: center
  justify-content: center
  margin-top: 35px
  &-text
    width: 342px
    color: #713401
    font-family: "Sybilla-Heavy"
    font-size: 24px
    font-weight: bold
    line-height: 24px

.objects
  padding-bottom: 100px
  background: url("../img/why_honey.png") no-repeat 55% 100%, url("../img/why_flower.png") no-repeat 570px 410px
  &-item
    display: flex
    height: 400px
    width: 1250px
    &-first
      margin: 0 auto
    &-second
      display: flex
      flex-direction: column
      justify-content: flex-end
      align-items: end
    &:last-child
      height: 600px
      margin-top: 100px
      display: flex
      justify-content: space-between
    &-third
      display: flex
      align-items: flex-start
      flex-direction: column
    &-fourth
      display: flex
      justify-content: flex-end
      align-items: flex-start
      flex-direction: column
  &-text
    width: 433px
    font-size: 40px
    line-height: 39px
    padding-left: 15px
    text-decoration: underline

.fact
  text-align: center
  font-size: 40px
  font-weight: bold
  letter-spacing: -3px
  &-title
    font-family: "Segoesc"
    color: #fab702
    font-size: 60px
    font-weight: bold
    letter-spacing: -4.5px
    &-honey
      font-family: "Sybilla-Heavy"
      font-size: 48px
      margin-top: 34px
      margin-bottom: 25px
      letter-spacing: 0
  &-pros
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    p
      display: flex
      align-items: center
      &::before
        content: ''
        background: url("../img/ok.png") no-repeat center
        width: 44px
        height: 44px
        margin-right: 10px
.cosmetic
  margin-top: -250px
  .title
    background: url("../img/bg-kosmetic.jpg") no-repeat 170px 15px
    padding: 100px 0 60px 0
    &-text
      width: 600px
  &-row
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    &-col
      display: flex
      justify-content: center
  &-item
    &-text
      width: 300px
      color: #fab702
      font-size: 40px
      font-weight: bold
      letter-spacing: -3px
      margin-bottom: 30px

.videoLife
  background: url(../img/video-bg.jpg) no-repeat left center
  padding: 79px 0 300px 0
  margin-top: 88px
  .title
    &-text
      width: 730px
      margin-bottom: 51px
  &-first
    width: 900px
    height: 564px
    margin: 71px auto 0
    display: flex
.work
  margin-bottom: 162px
  .title
    &-text
      width: 510px
      margin: -65px auto 62px
  &-step
    display: flex
    color: #000
    font-size: 30px
    font-weight: bold
    line-height: 36px
    letter-spacing: -2.25px
    p:last-child
      width: 400px
      margin-left: 70px

.delivery
  padding-bottom: 106px
  .title
    &-text
      margin: 0 auto 69px
  &-truck
    background: #f8f5f5
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    width: 600px
    height: 585px
  &-text
    background: #f8f5f5
    border-radius: 7%
    width: 495px
    height: 585px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &-item
      color: #713306
      font-size: 40px
      font-weight: bold
      letter-spacing: -3px
      line-height: 36px
      display: block
      padding-left: 34px
.reviews
  margin-top: 120px
  .title
    &-text
      width: 500px
  &-items
    margin-top: 70px
    &_item
      width: 945px
      height: 312px
      background-color: #efeff0
      border-radius: 30px
      margin: 0 auto
      img
        padding-right: 41px
      &-info
        display: flex
        justify-content: center
        align-items: center
        padding: 51px 0 0 61px
      &-p
        color: #000000
        font-family: Lato
        font-size: 24px
        font-weight: 400
        line-height: 30px
        letter-spacing: -0.24px
      &-name
        color: #000000
        font-family: "Sybilla-Heavy"
        font-size: 24px
        font-weight: 400
        line-height: 48px
      &-date
        color: #626262
        font-family: "Sybilla-Heavy"
        font-size: 20px
        font-weight: 400
        padding-right: 32px
        line-height: 48px
        display: flex
        justify-content: flex-end


.question
  .row
    justify-content: center
  background: url("../img/question_bg.jpg") no-repeat
  padding-top: 103px
  padding-bottom: 186px
  .title
    &-text
      width: 700px
      margin-bottom: 49px
  &-text
    height: 595px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &-item
      font-size: 24px
      font-weight: 400
      color: #000
      display: block
      &_span
        font-family: "Sybilla-Heavy"
        font-weight: 800
  &-form
    width: 506px
    height: 595px
    background-color: #deb033
    opacity: 0.64
    border-radius: 6%
    padding: 54px 44px 0
    text-align: center
    &-text
      font-family: "Sybilla-Bold"
      font-size: 36px
      font-weight: 400
      line-height: 40px
      letter-spacing: -2.7px
      margin-bottom: 32px
    &-input
      display: block
      margin-bottom: 20px
      box-shadow: 3px 4px 9px rgba(218, 147, 1, 0.9)
      border: none
      width: 400px
      height: 62px
      color: #888686
      font-size: 24px
      padding-left: 29px
      &:last-of-type
        height: 134px
        margin-bottom: 50px
    &-btn
      padding: 20px 51px

.footer
  height: 250px
  background: #514f49
  font-size: 24px
  font-weight: 400
  color: #b7b7b7
  &-row
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    height: 250px
    align-items: center
    p
      display: block
  &-ip
    font-family: 'Lato', sans-serif
    line-height: 26px
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 20px 0 32px 0
    height: 250px
  &-title
    color: #6d6d6d
    font-family: "Sybilla-Ultra"
    font-size: 40px
    font-weight: bold
    line-height: 45px
    text-align: center
  &-contacts
    font-family: 'Lato', sans-serif
    text-align: right
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: flex-end
    padding-top: 60px
    height: 250px
    &_span
      color: #71706e
      font-size: 14px
      line-height: 48px

@import "media"




